<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Amazon Store || Shopping Cart </title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Shopping Cart </h1>
		<a href="/store" class="btn btn-default btn-sm">Store  </a>
        <a href="/profile" class="btn btn-default btn-sm">Account  </a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>


    <div style="margin:0 auto;width:45%">
    <ol>
    <% item.forEach( function ( item ){ %>
               <li>
               <div class="item">

                 <a class="update-link" href="/product/<%= item.book_id %>" title="View this item"><%= item.book_title %></a>
                 <a href="/destroy/<%= item.book_id %>"  class="btn btn-default">Remove from Cart</a>
               </div>
               </li>
             <% }); %>
             </div>
             </ol>
             </div>

    <div class="col-sm-offset-10 col-sm-14">
        <a href="/checkout" class="btn btn-primary"><span class="fa fa-user"></span> Check Out</a>
    </div>




















</div>
</body>
</html>
